<div nz-row >
    <div nz-col [nzSm]="6"  [nzXs]="6"  [nzLg]="6">
        <nz-form-label nzNoColon="true">Numero de Chamado</nz-form-label>
        <nz-form-label nzNoColon="true">23233</nz-form-label>
    </div>
    <div nz-col [nzXs]="6"  [nzSm]="6" [nzLg]="6">
        <nz-form-label nzNoColon="true">Data de Criação</nz-form-label>
        <nz-form-label nzNoColon="true">19/09/2019</nz-form-label>
    </div>
</div>
<div nz-row >
    <div nz-col [nzSm]="6"  [nzXs]="6"  [nzLg]="6">
        <nz-form-label nzNoColon="true">Numero de Chamado</nz-form-label>
        <nz-form-label nzNoColon="true">23233</nz-form-label>
    </div>
    <div nz-col [nzXs]="6"  [nzSm]="6" [nzLg]="6">
        <nz-form-label nzNoColon="true">Data de Criação</nz-form-label>
        <nz-form-label nzNoColon="true">19/09/2019</nz-form-label>
    </div>
</div>
