<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Evento CallTech</title>
	<meta charset="UTF-8" />
</head>
<body>
	<h1>Cadastro de eventos</h1>
	<form method="POST" >
		  
		Nome: <input value="" type="text" name="nome" /><br />
		Local: <input value="" type="text" name="local" /><br />
		Data: <input value="" type="date" name="data" /><br />
		Horário: <input value="" type="text" name="horario" /><br />
		
		<button type="submit">Salvar</button>
		
	</form>
</body>
</html>