<nz-page-header nzTitle="Novo Chamado">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>First-level Menu</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>Second-level Menu</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Third-level Menu</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<button nz-button nzType="primary" (click)="showModal()">Novo Chamado</button>
<button nz-button nzType="primary" (click)="listar()">TESTE</button>
  <nz-table #filterTable [nzData]="lista">
      <thead nzSingleSort>
        <tr>
          <th
            nzShowSort
            nzSortKey="name"
            nzShowFilter
            [nzFilters]="listOfName"
            (nzFilterChange)="filter($event, searchAddress)"
          >
            Título
          </th>
          <th nzShowSort nzSortKey="age">Numero</th>
          <th
            nzShowSort
            nzSortKey="address"
            nzShowFilter
            [nzFilterMultiple]="false"
            [nzFilters]="lista"
            (nzFilterChange)="filter(listOfSearchName, $event)"
          >
            Natureza
          </th>
          <th nzShowSort nzSortKey="">Status</th>
          <th></th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of this.lista" (click)="showModVisu()">
          <td>{{ data.descricao }}</td>
          <td>{{ data.numeroChamado }}</td>
          <td>{{ data.codChamado }}</td>
          <td>AJUSTE</td>
          <td><i nz-icon nzType="eye" nzTheme="outline"></i><i nz-icon nzType="rest" nzTheme="twotone"></i></td>
        </tr>
      </tbody>
    </nz-table>
    <div>
      <nz-modal
      nzWidth="600"
      [(nzVisible)]="isVisible"
      nzTitle="Novo Chamado"
      nzOkText="Salvar"
      nzCancelText="Cancel"
      (nzOnOk)="handleOk()"
      (nzOnCancel)="handleCancel()"
    >
      <app-chamado-manter></app-chamado-manter>
    </nz-modal>
      <nz-modal
      nzWidth="800"
      [(nzVisible)]="isVisibled"
      nzTitle="Visualizar Chamado"
      nzOkText="Salvar"
      nzCancelText="Cancel"
      (nzOnOk)="handleOkVisu()"
      (nzOnCancel)="handleCancelVisu()"
    >
      <app-chamado-visualizar></app-chamado-visualizar>
    </nz-modal>

