<p>usuario-manter works!</p>
<nz-tabset>
    <nz-tab nzTitle="Usuário">
      <form nz-form>
        <div nz-row  nzGutter="16">
          <div nz-col [nzSm]="8" [nzXs]="16" [nzMd]="16" [nzLg]="10">
            <nz-form-label>
                Nome
            </nz-form-label>
            <input nz-input />
            <nz-form-label>
                Usuário
            </nz-form-label>
            <input nz-input />
          </div>
          <div nz-col [nzSm]="8" [nzXs]="16" [nzMd]="16" [nzLg]="10">
            <nz-form-label>
                Email
            </nz-form-label>
            <input nz-input />
          
            <nz-form-label>
                Senha
            </nz-form-label>
            <input nz-input />
          </div>
        </div>
      </form>
    </nz-tab>
    <nz-tab nzTitle="Perfil">
      Content of Tab Pane 2
    </nz-tab>
  </nz-tabset>